

.section{
    display: flex;
    margin: 0;
    width: 100%;
    height: 351px;
    background: #E0F2F1;
}

.section_div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section_h1{
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #0097A7;
}